.outer-grid{
    display: grid;
    grid-template-columns: 120px 1fr;
    width: min(700px, 100%);
    align-items: center;
}
.grid-container {
    display: grid;
    width: 100%;
    height: 40px;
    background-color: color;
    border: 3px solid black;
}

.grid-container>div {
    box-sizing: border-box;
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 1px solid black;
}
.grid-container>div>div {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    border: dotted black;
    border-width: 0 1px ;
    
}