@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Kalam:wght@300;400;700&family=Pangolin&display=swap");
.bad-script {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.pangolin ,*{
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
